@font-face{
    font-family: bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face{
    font-family: regular;
    src: url(Montserrat-Regular.ttf);
}

@font-face{
    font-family: Bold;
    src: url(Corinthia-Bold.ttf);
}

@font-face{
    font-family: Regular;
    src: url(Corinthia-Regular.tff);
}

@font-face{
    font-family: italic;
    src: url(Rubik-Italic-VariableFont_wght.ttf);
}

@font-face{
    font-family: light;
    src: url(Rubik-VariableFont_wght.ttf)
}